services:
  db:
    container_name: nosql_database
    image: mongo:7.0.5-rc0
    ports:
      - "127.0.0.1:8888:27017"
  backend:
    container_name: nosql_backend
    build: ./backend/
    ports:
      - "127.0.0.1:8000:8000"
    depends_on:
      - db
  frontend:
    container_name: nosql_frontend
    build: ./prototype/frontend/
    ports:
      - "127.0.0.1:8080:80"
    depends_on:
      - backend
