@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

.content * {
  margin-top: 0px;
}
