.navigation-panel {
  height: 100vh;
  width: 5vw;
  background-color: #2C2C2C;
  color: #fff;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: xxx-large;

  & a {
    padding: 1vw;
    text-decoration: none;

    &:visited {
      color: #fff;
    }

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    &.export {
      padding: 1vw 1.2vw;
    }
  }

  & .nav-up {
    display: flex;
    flex-direction: column;
  }

  & .nav-down {

    display: flex;
    flex-direction: column;
  }
}
